#new-request-component {
    margin-top: 60px;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

#new-request-component input,
#new-request-component select {
    border-bottom: 2px solid rgb(32, 89, 132);
    border-radius: 10px;
}